<ag-grid-angular
	style="width: 720px; height: 500px"
	class="ag-theme-alpine"
	#agGrid
	[pagination]="true"
	[paginationPageSize]="paginationPageSize"
	[rowData]="localidades"
	[columnDefs]="columnDefs"
	[editType]="editType"
	[suppressClickEdit]="true"
	[frameworkComponents]="frameworkComponents"
	(cellClicked)="onCellClicked($event)"
	(rowEditingStopped)="onRowEditingStopped($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
	accentedSort=true
	animateRows=true
	stopEditingWhenGridLosesFocus="true" >
</ag-grid-angular>
